---
import type { ACTION_ERROR_CODES, ACTION_QUERY_PARAMS } from "astro:actions";
import ExperiencieItems from "./ExperiencieItems.astro";

const EXPERIENCE = [
  {
    date: "January 2024 - February 2025",
    title: "Frontend Developer - Metadata S.L",
    description:
      "Contributed to the creation of a component package using PrimeReact.js, designed to be used across different epics by multiple teams. The components were documented and visualized in Storybook. Designed and structured screens and various parts of the product using HTML, SCSS, and TypeScript, ensuring seamless integration with PrimeReact.js. Achieved 95% test coverage through end-to-end testing with Cypress, successfully identifying and fixing code errors to ensure a secure product implementation.Worked with Docker to containerize and deploy the product, and used Git for branch management, uploading repositories to Bitbucket for future team code reviews. Validated and documented errors following Agile methodologies in Jira and Bitbucket, optimizing the incident resolution workflow. Collaborated with development and design teams to review and enhance UI components, ensuring high fidelity to Figma designs.",
  },
  {
    date: "April 2022",
    title: "Frontend Developer",
    description:
      "Developed responsive web applications using React and Tailwind CSS.",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-2.75 pl-2">
    {EXPERIENCE.map((exp) => (
        <li class="mb-10 ms-4">
          <ExperiencieItems {...exp}/>
        </li>
      ))}
 
</ol>
