---
import ExperiencieItems from "./ExperiencieItems.astro";

const EXPERIENCE = [
  {
    date: "January 2024 - February 2025",
    title: "Frontend Developer - Metadata S.L - Valencia, Spain",
    description:
      "Contributed to the creation of a component package using React, designed to be used across different epics by multiple teams. The components were documented and visualized in Storybook. Designed and structured screens. Achieved 95% test coverage through end-to-end testing with Cypress. Validated and documented errors following Agile methodologies in Jira and Bitbucket, optimizing the incident resolution workflow. Collaborated with development and design teams to review and enhance UI components, ensuring high fidelity to Figma designs.",
  },
  {
    date: "January 2023 - January 2025",
    title: "Frontend Developer - Bigdogs - Valencia, Spain",
    description:
      "Developed web interfaces using React.js, JavaScript, HTML, CSS, and Framer Motion. Reduced the agreed-upon development quota with the team by introducing reusable components and customizing elements using Next.js and Chakra UI. Create animations and interactivity using Framer Motion, enhancing the user experience.  ",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-2.75 pl-2">
    {EXPERIENCE.map((exp) => (
        <li class="mb-10 ms-4">
          <ExperiencieItems {...exp}/>
        </li>
      ))}
 
</ol>
