---
const personalImageAlt = "Ignacio Perrote";
import Badge from "../components/Badge.astro";
import SocialLink from "../components/SocialLink.astro";
import GitHubIcon from "../icons/GitHub.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import MailIcon from "../icons/Mail.astro";
import SectionContainer from "./ui/SectionContainer.astro";
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<SectionContainer id="hero">
  <section class="flex flex-col md:flex-row-reverse items-center justify-between">
    <div class="flex flex-col items-center gap-4">
      <nav class="flex gap-4">
        <SocialLink
          href="https://www.linkedin.com/in/ignacioperrote/"
          icon={LinkedInIcon}
        />
        <SocialLink
          href="https://github.com/Ignacio-Perrote"
          icon={GitHubIcon}
        />
        <SocialLink href="mailto:ignacioperrote@gmail.com" icon={MailIcon} />
      </nav>
      <a
        href="https://www.linkedin.com/in/ignacioperrote/"
        target="_blank"
        rel="noopener"
        class="flex items-center transition md:justify-center md:hover:scale-105"
      >
        <Badge>Disponible para trabajar</Badge>
      </a>
    </div>

    <div class="group flex h-full items-center">
      <h1
        class="text-4xl font-normal tracking-tight text-gray-800 md:text-5xl dark:text-white dark:[&>strong]:text-secondary [&>strong]:text-yellow-500 [&>strong]:font-semibold [&>span]:inline-block [&>span]:transition-transform [&>span]:duration-300 [&>span]:ease-in-out [&>span]:group-hover:rotate-[-18deg]"
        set:html={i18n.HERO.H1}
      />
    </div>
  </section>
</SectionContainer>
