---
import type { HTMLAttributes } from 'astro/types'
import { getI18N } from '@/i18n' // Importa i18n
import LinkedInIcon from '@/icons/LinkedIn.astro'
import GitHubIcon from '@/icons/GitHub.astro'
import MailIcon from '@/icons/Mail.astro'

// Obtén el i18n basado en el idioma actual
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

type Props = HTMLAttributes<'a'> & {
  icon: 'LinkedIn' | 'GitHub' | 'Mail'
}

const { icon, class: className, ...props } = Astro.props

const iconLinks = {
  LinkedIn: {
    href: 'https://www.linkedin.com/in/ignacioperrote/',
    ariaLabel: i18n.LINK.LINKEDIN,
    Icon: LinkedInIcon
  },
  GitHub: {
    href: 'https://github.com/ignacioperrote',
    ariaLabel: i18n.LINK.GITHUB,
    Icon: GitHubIcon
  },
  Mail: {
    href: 'mailto:ignacio@perrote.com',
    ariaLabel: i18n.LINK.MAIL,
    Icon: MailIcon
  }
}

const { href, ariaLabel, Icon } = iconLinks[icon]
---

<a
  aria-label={ariaLabel}
  href={href}
  class={`flex items-center transition duration-300 ease-in-out hover:opacity-75 hover:scale-105 ${className}`}
  {...props}
>
  <Icon
    class="size-4 md:size-6 transition duration-300 ease-in-out hover:scale-125 hover:text-white"
  />
</a>
